<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>JetBrainsMono-Regular.ttf</string>
		<string>ANDALEMO.TTF</string>
		<string>SourceCodePro-Regular.ttf</string>
		<string>UbuntuMono-R.ttf</string>
		<string>Anonymous Pro.ttf</string>
		<string>RobotoMono-Regular.ttf</string>
		<string>cour.ttf</string>
		<string>Menlo-Regular.ttf</string>
		<string>SFMonoRegular.otf</string>
		<string>FiraCode-Regular.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
